<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s9">
                {{"© 2024 Texto de Derechos Reservados" | translate}}
            </div>



            <div class="col s2">
                {{'Siguenos en'|translate}}
                <br>
                <table>
                    <td *ngFor="let red of redes_sociales">

                        <a href={{red.enlace}}>
                            <img id="imagenes" src="{{liga}}/red/{{red.id}}.jpg" alt="{{red.nombre}} ">
                        </a>
                    </td>
                </table>

            </div>


            <!-- <div (click)="redes()" class="btn tooltipped waves-effect btn-small btn-personalizado" data-position="bottom" 
                [attr.data-tooltip]="getTooltip()">
            <i class="material-icons">add</i>
            </div> -->


        </div>
    </div>
</footer>