<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s10">
                {{"© 2024 Texto de Derechos Reservados" | translate}}
            </div>
            <div class="col s2">
                {{'Siguenos en'|translate}}
                <div class="row"></div>
                <a href="https://www.facebook.com/gobmexico">
                    <img id="imagenes" src="../../../assets/footer/facebook.png" alt="facebook ">
                </a>
                <a href="https://twitter.com/GobiernoMX">
                    <img id="imagenes" src="../../../assets/footer/twitter.png" alt="twitter">
                </a>
                
            </div>
        </div>
    </div>
</footer>