.login-page {
    width: 500px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #13322B;
    max-width: 4500px;
    margin: 0 auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    width: 100%;
    border-radius: 10px;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
    color: black;
}

.Titulo{
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
    color: white;
}

.boton{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #9D2449;
    width: 100%;
    border: 0;
    border-radius: 10px;
    padding: 15px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3 ease;
}

.bandera{
    color: white;
}

.volver{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    width: 100%;
    background: #9D2449;
    border: 0;
    border-radius: 10px;
    padding: 15px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    color: white;
}

.boton:hover{
    background: #4e232e;
}

.volver:hover{
    background: #4e232e;
    color: white
}
.dropdown-content li>a,
.dropdown-content li>span {
color: #ffa400;
font-family: 'Raleway-Medium', sans-serif;
}
.dropdown-content li>span,
.dropdown-content.idioma-nav li>a,
.dropdown-content li>span {
color: #051c49;
font-size: 14px;
}
.dropdown-content.idioma-nav {
top: 80px !important;
}
.dropdown-content li:hover,
.dropdown-content li.active {
background-color: #051c49;
color: #fff;
}
.dropdown-content li:hover a,
.dropdown-content li.active a {
color: #fff !important;
}
.dropdown-content {
width: 50px !important;
right: 0px;
top: 0px;
height: auto;
}
.dropdown-content .bold {
font-family: 'Raleway-Bold', sans-serif;
margin-right: 20px;
width: 30px;
text-align: right;
display: block;
color: #ffa400;
}
.select-dropdown li.disabled,
.select-dropdown li.disabled>span,
.select-dropdown li.optgroup {
background: #051c49;
color: #fff;
}

.imagen_icono {
    width: 30px;
    margin: 0 5px;
}