<div class="container">
  <h1>{{"Lista de empresas"| translate}}</h1><br><br>
</div>

<div class="container">

  <a href="javascript: void(0);" class="margin">
    <a class="btn-floating btn-large waves-effect waves-light colorsito " href="javascript: void(0);"><i
        class="material-icons" (click)="crearEmpresa()">add</i></a>
  </a>
  <div class="cajita2">
    <table class="default" *ngIf="empresas != undefined">
      <tr>
        <th class="color-titulos-tabla">{{"Logotipo" | translate}}</th>
        <th class="color-titulos-tabla">{{"Nombre de la empresa" | translate}}</th>
        <th class="color-titulos-tabla">{{"RFC" | translate}}</th>
        <th class="color-titulos-tabla">{{"Teléfono" | translate}}</th>
        <th class="color-titulos-tabla">{{"Descripción" | translate}}</th>
        <th class="color-titulos-tabla">{{"Editar" | translate}}</th>
        <th class="color-titulos-tabla">{{"Eliminar" | translate}}</th>
        <th class="color-titulos-tabla">{{"Cambiar logotipo" | translate}}</th>
        <th class="color-titulos-tabla center">{{"Imágenes de la empresa" | translate}}</th>

      </tr>
      <tr *ngFor="let empresa of empresas |
      paginate: {
      itemsPerPage: pageSize,
      currentPage: p
      };let i=index">
        <td *ngIf="empresa.fotito == 1"><img width="64" src="{{liga}}/empresas/{{empresa.id_empresa}}.jpg"
            alt="{{liga}}/empresas/1.jpg"></td>
        <td *ngIf="empresa.fotito == 0"><img width="64" src="{{liga}}/empresas/00.jpg" alt="{{liga}}/empresas/1.jpg">
        </td>
        <td>{{empresa.nombre_empresa}}</td>
        <td>{{empresa.rfc}}</td>
        <td>{{empresa.telefono}}</td>
        <td *ngIf="idioma=='1'"> {{empresa.descripcion}}</td>
        <td *ngIf="idioma=='2'"> {{empresa.description}}</td>
        <td><a href="javascript: void(0);" class="space" (click)="actualizarEmpresa(empresa.id_empresa)">
            <i class="material-icons magenta">edit</i></a></td>
        <td><a href="javascript: void(0);" class="material-icons" (click)="eliminarEmpresa(empresa.id_empresa)">
            <i class="material-icons magenta">delete_forever</i></a></td>
        <td><a href="javascript: void(0);" class="space" (click)="mostrarImagen(empresa.id_empresa)">
            <i class="material-icons magenta">image </i></a></td>
        <td><a href="javascript: void(0);" class="space" (click)="mostrarImagenes(empresa.id_empresa)">
            <i class="material-icons magenta align-rigth">filter_3 </i></a></td>
      </tr>

    </table>
  </div>

  <div class="my-pagination">
    <pagination-controls class="my-pagination black white-text" (pageChange)="p = ($event)"
      previousLabel="{{'Anterior'|translate}}" nextLabel="{{'Siguiente'|translate}}">
    </pagination-controls>
  </div>

</div>

<div class="mapa">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3765.0889183366476!2d-99.11034012478844!3d19.32194748193391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDE5JzE5LjAiTiA5OcKwMDYnMjguMCJX!5e0!3m2!1ses-419!2smx!4v1714875470210!5m2!1ses-419!2smx"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div id="modalModificarEmpresa" class="modal">
  <div class="modal-content">
    <div class="row" style="margin-bottom: 0px !important;">
      <div class="col s12">
        <h5 class="center">{{"Actualizar empresa"| translate}}</h5>
      </div>
    </div>
    <div style="border: .5px solid #78909c; padding: 10px;">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix magenta">work</i>
          <label class="active" for="nombre_empresa"> {{"Nombre"| translate}} </label>
          <input id="nombre_empresa" [(ngModel)]="empresa.nombre_empresa" type="text" class="validate">
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix magenta">location_on</i>
          <label class="active">{{"Dirección"| translate}} </label>
          <input [(ngModel)]="empresa.direccion" type="text" class="validate">
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix magenta">calendar_today</i>
          <label class="active">{{"Fecha"| translate}} </label>

          <input [(ngModel)]="empresa.fecha" type="text" id="fechaEmpresa" #fechaD
            (change)="actualizarFecha(fechaD.value)" class="datepicker">
        </div>
        <div class="input-field col s6">
          <label class="active">Teléfono </label>
          <i class="material-icons prefix magenta">call</i>
          <input [(ngModel)]="empresa.telefono" type="text" class="validate"
            [ngClass]="{'invalid': !validateTelefono()}">
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix magenta">24mp</i>
          <label class="active">RFC </label>
          <input [(ngModel)]="empresa.rfc" type="text" class="validate" [ngClass]="{'invalid': !validateRFC()}">
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix magenta">description</i>
          <label class="active">Descripción</label>
          <input [(ngModel)]="empresa.descripcion" type="text" class="validate">
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix magenta">description</i>
          <label class="active">Description</label>
          <input [(ngModel)]="empresa.description" type="text" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="col s6 center">
          <button type="submit" class="waves-effect btn-large brown lighten-3 modal-close black-text enviar"
            [disabled]="!validateRFC()" (click)="guardarActualizarEmpresa()">
            {{ 'Enviar' | translate }}
          </button>
        </div>
        <div class="col s6 center ">
          <a class="modal-action modal-close waves-effect btn-large brown lighten-3 colorsin
  black-text" >{{'Cancelar'|translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="Imagen" class="modal">
  <div class="modal-content">

    <div class="row" style="margin-bottom: 0px !important;">
      <div class="col s12">
        <h5 class="center">{{"Imagen"| translate}}</h5>
      </div>
    </div>
    <div style="border: .5px solid #78909c; padding: 10px;">
      <div class="row">
        <div class="input-field col s12">
          <div align="center">
            <td *ngIf="empresa.fotito == 1"><img width="64" src="{{liga}}/empresas/{{empresa.id_empresa}}.jpg"
                alt="{{liga}}/empresas/1.jpg"></td>
            <img *ngIf="empresa.fotito == 0" width="64" src="{{liga}}/empresas/0.jpg" alt="{{liga}}/empresas/1.jpg">
          </div>
        </div>
        <div class="input-field col s6">
          <br><br>
          <input type="file" (change)="cargandoImagen($event.target)" multiple>
        </div>
      </div>
      <div class="row">
        <div class="col s6 center">
          <button class="waves-effect btn-large brown lighten-3 modal-close black-text enviar"
            (click)="guardandoImagen()">{{'Enviar'|translate}}</button>
        </div>
        <div class="col s6 center">
          <button class="modal-action modal-close waves-effect btn-large brown lighten-3 black-text colorsin">{{ 'Cancelar' |
            translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="Imagenes" class="modal">
  <div style="border: .5px solid #78909c; padding: 10px;">
    <div class="row">
      <h2>{{"Imágenes de la empresa"|translate }}</h2>
      <table class="striped">
        <thead>
        </thead>
        <div *ngIf="lista_fotos.length == 0">
          <h4 class="center">Sin fotos para mostrar.</h4>
        </div>
        <tbody class="striped">
          <tr *ngFor="let id of lista_fotos">
            <td>
              <div class="center-align">
                <div class="image-container">
                  <img width="256" class="image" src="{{liga}}/fotos_empresas/{{id.id_foto}}.jpg"  alt="{{liga}}/fotos_empresas/{{id.id_foto}}.jpg">
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="input-field col s6">
        <br><br>
        <input type="file" (change)="cargando_coleccion_imagenes($event.target)" multiple>
      </div>
    </div>

    <div class="row">
      <div class="col s6 center">
        <button class="waves-effect btn-large brown lighten-3 modal-close black-text enviar"
          (click)="guardar_cambios()">{{'Enviar'|translate}}</button>
      </div>
      <div class="col s6 center">
        <button class="modal-action modal-close waves-effect btn-large brown lighten-3 black-text colorsin">{{ 'Cancelar' |
          translate }}</button>
      </div>
    </div>
  </div>
</div>

<div id="modalCrearEmpresa" class="modal">
  <div class="modal-content">
    <div class="row" style="margin-bottom: 0px !important;">
      <div class="col s12">
        <h5 class="center">{{'Crear compañía'|translate}}</h5>
      </div>
    </div>
    <div style="border: .5px solid #78909c; padding: 10px;">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix magenta">work</i>
          <label class="active" for="nombre_empresa">{{"Nombre"| translate}} </label>
          <input id="nombre_empresa" [(ngModel)]="empresaNueva.nombre_empresa" type="text" class="validate">
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix magenta">location_on</i>
          <label class="active">{{"Dirección"| translate}}</label>
          <input [(ngModel)]="empresaNueva.direccion" type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix magenta">call</i>
          <label class="active">Teléfono </label>
          <input [(ngModel)]="empresaNueva.telefono" type="text" class="validate"
            [ngClass]="{'invalid': !validateNewTelefono()}">
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix magenta">calendar_today</i>

          <label class="active">{{"Fecha"| translate}} </label>

          <input [(ngModel)]="empresaNueva.fecha" type="text" id="fechaEmpresa" #fechaA
            (change)="nuevaFecha(fechaA.value)" class="datepicker">
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix magenta">24mp</i>

          <label class="active">RFC </label>
          <input [(ngModel)]="empresaNueva.rfc" type="text" class="validate" [ngClass]="{'invalid': !validateNewRFC()}">
        </div>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix magenta">description</i>
        <label class="active">Descripción</label>
        <input [(ngModel)]="empresaNueva.descripcion" type="text" class="validate">
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix magenta">description</i>
        <label class="active">Description</label>
        <input [(ngModel)]="empresaNueva.description" type="text" class="validate">
      </div>
      <div class="input-field col s4">
        <i class="material-icons prefix magenta">crop_original</i>
        <label class="active">Imagen</label>
        <br>
        <input type="file" (change)="cargandoImagen($event.target)">
      </div>
      <div class="row">
        <div class="col s2 right">
          <button type="submit" class="waves-effect btn-large brown lighten-3 modal-close black-text enabled-button"
          [disabled]="!validateNewRFC() || !validateNewTelefono()"  (click)="guardarNuevaEmpresa()">
          {{ 'Enviar' | translate }}
        </button>
        </div>
        <div class="col s2 right ">
          <a
            class="modal-action modal-close waves-effect btn-large brown lighten-3 black-text colorsin">{{'Cancelar'|translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>