<div class="container">
  <h1>{{"Lista de ofertas" | translate}}</h1>
  <a class="btn-floating btn-large waves-effect waves-light custom-btn" href="javascript: void(0);"><i class="material-icons"
      (click)="crearOferta()">add</i></a>
  <table class="default moved-table iconos-table" *ngIf="ofertas != undefined">
    <thead>
      <tr>
        <th class="header-color">{{"Empresa" | translate}}</th>
        <th class="header-color">{{"Puesto" | translate}}</th>
        <th class="header-color">{{"Salario" | translate}}</th>
        <th class="header-color">{{"Descripción" | translate}}</th>
        <th class="header-color">{{"Horario" | translate}}</th>
        <th class="header-color">{{"Editar" | translate}}</th>
        <th class="header-color">{{"Eliminar" | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let oferta of ofertas |
      paginate: {
        itemsPerPage: pageSize,
        currentPage: p
      };let i=index">
        <td>{{ empresaNombres[oferta.id_empresa]?.[0] }}</td>
        <td *ngIf="idioma==1">{{oferta.puesto}}</td>
        <td *ngIf="idioma==2">{{oferta.position}}</td>
        <td>{{oferta.salario}}</td>
        <td *ngIf="idioma==1">{{oferta.descripcion}}</td>
        <td *ngIf="idioma==2">{{oferta.description}}</td>
        <td>{{oferta.horario}}</td>

        <td><a href="javascript: void(0);" class="space" (click)="actualizarOferta(oferta.idOferta)">
            <i class="material-icons">edit</i></a></td>
        <td><a href="javascript: void(0);" class="material-icons" (click)="eliminarOferta(oferta.idOferta)">
            <i class="material-icons">delete_forever</i></a></td>
      </tr>
    </tbody>
  </table>
  <div class="my-pagination row center-align white-text">
    <pagination-controls class="my-pagination " (pageChange)="p = ($event)" previousLabel="{{'Anterior'|translate}}"
      nextLabel="{{'Siguiente'|translate}}">
    </pagination-controls>
  </div>
</div>

<div id="modalModificarOferta" class="modal">
  <div class="modal-content">
    <h2>{{ "Actualización de oferta" | translate }}</h2>
    <form>
      <div class="row">
        <div class="row">
          <i class="material-icons prefix">domain</i>
          <label class="active">{{"Empresa" | translate}}</label>
          <select [(ngModel)]='oferta.id_empresa' class="browser-default" name="empresa">
            <!-- broser-default porque es un arreglo-->
            <option *ngFor="let empresa of empresas" [value]="empresa.id_empresa">
              <!--Para poner el valor de cada elemento del arreglo-->
              {{empresa.nombre_empresa}}
            </option>
          </select>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input [(ngModel)]="oferta.puesto" type="text" id="puestoEspanol" name="puestoEspanol" required>
          <label for="puestoEspanol" class="active">{{ "Puesto en español" | translate }}</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input [(ngModel)]="oferta.position" type="text" id="puestoIngles" name="puestoIngles" required>
          <label for="puestoIngles" class="active">{{ "Puesto en inglés" | translate }}</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">attach_money</i>
          <input [(ngModel)]="oferta.salario" type="text" id="salario" name="salario" required>
          <label for="salario" class="active">{{ "Salario" | translate }}</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">event</i>
          <input [(ngModel)]="oferta.horario" type="text" id="horario" name="horario" required>
          <label for="horario" class="active">{{ 'Horario' | translate }}</label>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">chat</i>
          <input [(ngModel)]="oferta.descripcion" type="text" id="descripcionEspanol" name="descripcionEspanol"
            required>
          <label for="descripcionEspanol" class="active">{{ "Descripción en español" | translate }}</label>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">chat</i>
          <input [(ngModel)]="oferta.description" type="text" id="descripcionIngles" name="descripcionIngles" required>
          <label for="descripcionIngles" class="active">{{ "Descripción en inglés" | translate }}</label>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s6 center">
        <button class="waves-effect btn-large custom-button white-text modal-close" type="submit"
          (click)="guardarActualizarOferta()">
          {{"Enviar" | translate}}
          <i class="material-icons right colorwhite">send</i>
        </button>
      </div>

      <div class="col s6 center">
        <button class="modal-action modal-close waves-effect btn-large buttonRed white-text"
          type="submit">{{"Cancelar" | translate}}
          <i class="material-icons right colorwhite">cancel</i>
        </button>
      </div>
    </div>
  </div>
</div>

<div id="modalCrearOferta" class="modal">
  <div class="modal-content">
    <h2>{{ "Creación de oferta" | translate }}</h2>
    <form>
      <div class="row">
        <!-- Cambios que realice en el  html -->
        <div class="row">
          <i class="material-icons prefix">domain</i>
          <label class="active">{{"Empresa" | translate}}</label>
          <select [(ngModel)]='ofertaNueva.id_empresa' class="browser-default" name="empresa">
            <!-- broser-default porque es un arreglo-->
            <option *ngFor="let empresa of empresas" [value]="empresa.id_empresa">
              <!--Para poner el valor de cada elemento del arreglo-->
              {{empresa.nombre_empresa}}
            </option>
          </select>
        </div>
        <!-- Hasta acá terminan los cambios -->

        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input [(ngModel)]="ofertaNueva.puesto" type="text" id="puestoEspanol" name="puestoEspanol" required>
          <label for="puestoEspanol" class="active">{{ "Puesto en español" | translate }}</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input [(ngModel)]="ofertaNueva.position" type="text" id="puestoIngles" name="puestoIngles" required>
          <label for="puestoIngles" class="active">{{ "Puesto en inglés" | translate }}</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">attach_money</i>
          <input [(ngModel)]="ofertaNueva.salario" type="text" id="salario" name="salario" required>
          <label for="salario" class="active">{{ "Salario" | translate }}</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">event</i>
          <input [(ngModel)]="ofertaNueva.horario" type="text" id="horario" name="horario" required>
          <label for="horario" class="active">{{ 'Horario' | translate }}</label>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">chat</i>
          <input [(ngModel)]="ofertaNueva.descripcion" type="text" id="descripcionEspanol" name="descripcionEspanol"
            required>
          <label for="descripcionEspanol" class="active">{{ "Descripción en español" | translate }}</label>
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">chat</i>
          <input [(ngModel)]="ofertaNueva.description" type="text" id="descripcionIngles" name="descripcionIngles"
            required>
          <label for="descripcionIngles" class="active">{{ "Descripción en inglés" | translate }}</label>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s6 center">
        <button class="waves-effect btn-large custom-button white-text" type="submit" (click)="guardarNuevaOferta()">
          {{"Enviar" | translate}}
          <i class="material-icons right colorwhite">send</i>
        </button>
      </div>

      <div class="col s6 center">
        <button class="modal-action modal-close waves-effect btn-large buttonRed white-text"
          type="submit">{{"Cancelar" | translate}}
          <i class="material-icons right colorwhite">cancel</i>
        </button>
      </div>
    </div>
  </div>
</div>